rpi-lgpio==0.6
pi-rc522==2.3.0
ndeflib==0.3.3
# picamera2==0.3.18 # install via apt
pillow==10.4.0
pymongo==4.8.0
fastapi==0.112.2
motor==3.5.1
pydantic==2.8.2
email-validator==2.2.0
typing_extensions==4.12.2
pandas==2.2.2
dash==2.18.0
dash-bootstrap-components==1.6.0
